# Python venv
venv/
*.pyc
__pycache__/

# VS Code settings
.vscode/

# Environment variables / secrets
.env
.env.*

# Flask specific
instance/
*.db
*.sqlite3

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
